*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    margin-left: 30px;
    margin-right: 30px;
}
.logo img{
    width: 90px;
    height: 40px;
}
.collapse{
    margin-left: 10rem;
}
.nav-item a{
    font-size: 25px;
    font-weight: 100;
}
.btn-danger{
    border-radius: 50px;
}
.btn-items{
    display: flex;
}
.video i{
    font-size: 30px;
}
.video span{
    font-size: 20px;
    font-weight: 500;
}
.button{
   margin-right: 20px;
}
.item-info{
    margin-bottom: 60px;
    margin-top: 80px;
}
.services{
    display: flex;
    margin-top: 60px;
text-align: center;

}
.services i{
    display: flex;
    font-size: 35px;

} 
.col-6{
    margin-top: 80px;
}
.row-about img{
    width: 160px;
    height: 140px;
}
.row-about{
    display: flex;
}
.red{
    color: red;
    font-size: 30px;
    font-weight: 100;
}
.red-about{
    color: red;
    font-size: 15px;
    font-weight: 100;
}
.special-red{
    color: red;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}
.special{
    text-align: center;
}
.beef{
    color: red;
    font-weight: 400;
    font-size: 15px;
}
.line{
    width: 200px;
    height: 2px;
    background-color: black;
    display: inline-block;
}
.number{
    display: inline-block;
    font-weight: 700;
    font-size: 50px;
}
.steak-item{
    margin-left: 70px;
}
.red-menu{
    color: red;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}
.menu-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.breakfast-image img{
    border-radius: 50%;
    width: 70px;
}
.breakfast-colmn{
    display: flex;
}
